@use './mixins' as *;
@use './variables' as *;
@use './typography' as *;

// css resets

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "avenir", sans-serif;
  color: $bandsite-black;
  /* body & footer copy */
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
}

main {
  padding: 0 2rem;
}

// headers

h1 {
  /* page header */
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}

h2 {
  /* section header */
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}

h3 {
  /* sub header */
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 600;
}

// links & buttons

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:link,
a:visited {
  color: $mercury;
}

a:active,
a:hover {
  color: $white;
}

a:active {
  font-weight: bold;
}

label,
button {
  /* labels & buttons */
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
}
