// fonts
@font-face {
  font-family: "avenir";
  src: url(../../assets/font/alternative-files/AvenirNextLTPro.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "avenir";
  src: url(../../assets/font/alternative-files/AvenirNextLTProDemi.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "avenir";
  src: url(../../assets/font/alternative-files/AvenirNextLTProBold.ttf);
  font-weight: 700;
}
