@use './partials/partial' as *;
@use './partials/base' as *;

// top navigation

.header-nav {
  @include flex-column;
  background-color: $bandsite-black;

  &__logo {
    @include logo;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__list--relative {
    position: relative;
    text-align: center;
    width: 100%;
    height: 4rem;
  }

  &__list--absolute:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.3rem;
    background-color: $white;
    left: 0;
    bottom: 0;
  }

  &__list-item {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  @include mobile-adjusted {
    & {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    &__logo {
      padding: 2.2rem 0 2rem 2rem;
    }

    &__list {
      width: 40%;
      margin-left: 4rem;
    }

    &__list--relative {
      height: 100%;
    }

    &__list--absolute:hover::after {
      bottom: -2.3rem;
    }

    &__list-item {
      display: flex;
      // justify-content: flex-start;
      align-self: center;
    }
  }
}

// hero header
.hero {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;

  &__header {
    color: $white;
    font-weight: 600;
    margin: 0 0 0 2rem;
  }

  @include mobile-adjusted {
    & {
      height: 54vh;
    }

    &__header {
      font-size: 3.5rem;
    }
  }
}

// about section
.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    display: flex;
    align-self: flex-start;
    padding: 2.4rem 0 1.6rem 0;
    font-weight: 600;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__img {
    height: auto;
    width: 100%;
  }

  &__quote {
    padding: 1.6rem 0;
    font-weight: 600;
  }

  &__quote-author {
    padding: 0 0 1.6rem 0;
    font-weight: 600;
  }

  &__bio-header {
    padding: 1.5rem 0 1.3rem 0;
    font-weight: 400;
    font-size: 1.7rem;
    color: $bandsite-darkblack;
  }

  &__bio-container {
  }

  &__bio-paragraph {
    padding: 0 0 1.3rem 0;
  }

  @include mobile-adjusted {
    &__header {
      padding: 3rem 0 2rem 1rem;
    }

    &__container {
      width: 90%;
    }
  }
}

// photo gallery

.gallery {
  @include flex-column;

  &__header {
    display: flex;
    font-weight: 600;
    padding: 1.5rem 0 1.3rem 0;
  }

  &__photo-list {
    @include flex-column;
  }

  &__photo {
    height: auto;
    width: 98%;
    margin-bottom: 1rem;
  }

  @include mobile-adjusted {
    &__header {
      padding: 2rem 0 2rem 0rem;
      width: 90%;
    }

    &__photo-list {
      width: 90%;
    }

    &__photo {
      margin-bottom: 2rem;
    }
  }
}

// footer

.footer {
  display: flex;
  justify-content: center;
  background-color: $bandsite-black;
  padding: 1.5rem;
  color: $white;

  &__container {
  }

  &__header-container {
  }

  &__secondary-container {
  }

  &__header {
    font-weight: 600;
    padding: 2rem 0 1.6rem 0;
  }

  &__icon-list {
    padding: 0 0 1.5rem 0;
  }

  &__icon {
    margin-right: 2.6rem;
  }

  &__logo--tablet {
    display: none;
    @include logo;
  }

  &__contact-list {
    display: flex;
    flex-direction: column;
  }

  &__contact-card {
    padding: 1.7rem 0;
  }

  &__contact-name {
    font-weight: 600;
    padding: 0 0 1.9rem 0;
  }

  &__contact-area {
    padding: 0 0 1.9rem 0;
  }

  &__contact-email {
  }

  &__copy-logo {
    margin-top: 3rem;
  }

  &__logo--mobile {
    @include logo;
  }

  &__copyright {
    font-size: 1.1rem;
  }

  @include mobile-adjusted {
    &__container {
      width: 90%;
    }
  }
}

// project style guide rules

@include tablet {
  body {
    /* body & footer copy tablet/desktop*/
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  h1 {
    /* page header */
    font-size: 6rem;
    line-height: 6.8rem;
  }

  h2 {
    /* section header */
    font-size: 3.6rem;
    line-height: 4.4rem;
  }

  h3 {
    /* sub header */
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  label,
  button {
    /* labels & buttons */
    font-size: 1.2rem;
  }
}
