/* adjustment for mobile / smaller screen */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "avenir", sans-serif;
  color: #323232;
  /* body & footer copy */
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
}

main {
  padding: 0 1.6rem;
}

h1 {
  /* page header */
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}

h2 {
  /* section header */
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}

h3 {
  /* sub header */
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 600;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:link,
a:visited {
  color: #e1e1e1;
}

a:active,
a:hover {
  color: #ffffff;
}

a:active {
  font-weight: bold;
}

label,
button {
  /* labels & buttons */
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
}

@font-face {
  font-family: "avenir";
  src: url(../../assets/font/alternative-files/AvenirNextLTPro.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "avenir";
  src: url(../../assets/font/alternative-files/AvenirNextLTProDemi.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "avenir";
  src: url(../../assets/font/alternative-files/AvenirNextLTProBold.ttf);
  font-weight: 700;
}
.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
}
.header-nav__logo {
  padding: 2.2rem 0 1.2rem 0;
  min-height: 1.5rem;
  min-width: 10rem;
}
.header-nav__list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.header-nav__list--relative {
  position: relative;
  text-align: center;
  width: 100%;
  height: 4rem;
}
.header-nav__list--absolute:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: #ffffff;
  left: 0;
  bottom: 0;
}
.header-nav__list-item {
  display: flex;
  justify-content: center;
  align-self: center;
}
@media only screen and (min-width: 500px) {
  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .header-nav__logo {
    padding: 2.2rem 0 2rem 2.5rem;
  }
  .header-nav__list {
    width: 40%;
    margin-left: 3.5rem;
  }
  .header-nav__list--relative {
    height: 100%;
  }
  .header-nav__list--absolute:hover::after {
    bottom: -2.3rem;
  }
  .header-nav__list-item {
    display: flex;
    align-self: center;
  }
}
@media only screen and (min-width: 768px) {
  .header-nav__logo {
    padding: 2.8rem 0 2rem 4rem;
  }
  .header-nav__list {
    width: 30%;
    margin-left: 5rem;
  }
  .header-nav__list--relative {
    width: auto;
  }
  .header-nav__list--absolute-bio:hover::after {
    left: 0;
    bottom: -114%;
  }
  .header-nav__list--absolute-show:hover::after {
    left: 0;
    bottom: -114%;
  }
}
@media only screen and (min-width: 1280px) {
  .header-nav__logo {
    padding: 3.4rem 0 3rem 12rem;
  }
  .header-nav__list {
    width: 20%;
    margin-left: 7rem;
  }
  .header-nav__list-item {
    font-size: 1.7rem;
  }
  .header-nav__list--absolute-bio:hover::after {
    bottom: -150%;
  }
  .header-nav__list--absolute-show:hover::after {
    bottom: -150%;
  }
}

.hero {
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;
}
.hero__header {
  color: #ffffff;
  font-weight: 600;
  margin: 0 0 0 2rem;
}
@media only screen and (min-width: 500px) {
  .hero {
    height: 54vh;
  }
  .hero__header {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    height: 60vh;
  }
  .hero__header {
    font-size: 5.5rem;
    margin-left: 4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__header {
    font-size: 5.5rem;
    margin-left: 12rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__header {
  display: flex;
  align-self: flex-start;
  padding: 2.4rem 0 1.6rem 0;
  font-weight: 600;
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__img {
  height: auto;
  width: 100%;
}
.about__quote {
  padding: 1.6rem 0;
  font-weight: 600;
}
.about__quote-author {
  padding: 0 0 1.6rem 0;
  font-weight: 600;
}
.about__bio-header {
  padding: 1.5rem 0 1.3rem 0;
  font-weight: 400;
  font-size: 1.7rem;
  color: #000000;
}
.about__bio-paragraph {
  padding: 0 0 1.3rem 0;
}
@media only screen and (min-width: 500px) {
  .about__header {
    padding: 3rem 0 2rem 1rem;
  }
  .about__container {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  .about__header {
    font-size: 4.5rem;
    padding: 4.5rem 0 2.6rem 2rem;
  }
  .about__container {
    width: 80%;
  }
  .about__quote {
    font-size: 2.2rem;
    line-height: 3rem;
    word-spacing: 0.3rem;
    padding: 2.8rem 0 2.4rem 0;
  }
  .about__quote-author {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .about__bio-header {
    font-weight: 600;
    font-size: 2.5rem;
  }
  .about__bio-container {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  .about__bio-paragraph:first-child {
    margin-right: 2rem;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1280px) {
  .about__header {
    padding-left: 0;
    padding-top: 5rem;
    padding-bottom: 3.5rem;
    margin-left: 12rem;
  }
  .about__container {
    width: 68%;
  }
  .about__quote {
    padding-top: 3.5rem;
    font-size: 2.3rem;
    width: 85%;
  }
  .about__quote-author {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
  }
  .about__bio-header {
    font-size: 2.8rem;
    margin-bottom: 1.8rem;
  }
  .about__bio-paragraph {
    padding-bottom: 3rem;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery__header {
  display: flex;
  font-weight: 600;
  padding: 1.5rem 0 1.3rem 0;
}
.gallery__photo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery__photo {
  height: auto;
  width: 100%;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 500px) {
  .gallery__header {
    padding: 2rem 0 2rem 0rem;
    width: 90%;
  }
  .gallery__photo-list {
    width: 90%;
  }
  .gallery__photo {
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .gallery__photo-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.5rem 0 3rem 0;
  }
  .gallery__photo {
    width: 30%;
    height: auto;
    margin-right: 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery__header {
    padding-left: 0;
    width: 85%;
  }
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #323232;
  padding: 1.5rem;
  color: #ffffff;
}
.footer__header {
  font-weight: 600;
  padding: 2rem 0 1.6rem 0;
}
.footer__icon-list {
  padding: 0 0 1.5rem 0;
}
.footer__icon {
  margin-right: 2.6rem;
}
.footer__logo--tablet {
  position: absolute;
  left: -100%;
  visibility: hidden;
  padding: 2.2rem 0 1.2rem 0;
  min-height: 1.5rem;
  min-width: 10rem;
}
.footer__contact-list {
  display: flex;
  flex-direction: column;
}
.footer__contact-card {
  padding: 1.7rem 0;
}
.footer__contact-name {
  font-weight: 600;
  padding: 0 0 1.9rem 0;
}
.footer__contact-area {
  padding: 0 0 1.9rem 0;
}
.footer__copy-logo {
  margin-top: 3rem;
}
.footer__logo--mobile {
  padding: 2.2rem 0 1.2rem 0;
  min-height: 1.5rem;
  min-width: 10rem;
}
.footer__copyright {
  font-size: 1.1rem;
}
@media only screen and (min-width: 500px) {
  .footer__container {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  .footer__header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer__secondary-container {
    display: flex;
  }
  .footer__icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0 1.6rem 3.5rem;
  }
  .footer__icon {
    width: auto;
    height: 2.5rem;
    margin-right: 3.5rem;
  }
  .footer__logo--tablet {
    position: initial;
    display: flex;
    visibility: visible;
  }
  .footer__contact-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__logo--mobile {
    position: absolute;
    visibility: hidden;
    left: -100%;
  }
  .footer__copyright {
    font-size: 1.3rem;
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__container {
    width: 85%;
  }
  .footer__contact-list {
    justify-content: flex-start;
  }
  .footer__contact-card {
    margin-right: 8rem;
  }
  .footer__logo--tablet {
    margin-right: 1.8rem;
  }
  .footer__copyright {
    font-size: 1.4rem;
    padding-bottom: 2.8rem;
  }
}

@media only screen and (min-width: 768px) {
  body {
    /* body & footer copy tablet/desktop*/
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  h1 {
    /* page header */
    font-size: 6rem;
    line-height: 6.8rem;
  }

  h2 {
    /* section header */
    font-size: 3.6rem;
    line-height: 4.4rem;
  }

  h3 {
    /* sub header */
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  label,
button {
    /* labels & buttons */
    font-size: 1.2rem;
  }
}