/* adjustment for mobile / smaller screen */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "avenir", sans-serif;
  color: #323232;
  /* body & footer copy */
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
}

main {
  padding: 0 2rem;
}

h1 {
  /* page header */
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}

h2 {
  /* section header */
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}

h3 {
  /* sub header */
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 600;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:link,
a:visited {
  color: #e1e1e1;
}

a:active,
a:hover {
  color: #ffffff;
}

a:active {
  font-weight: bold;
}

label,
button {
  /* labels & buttons */
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
}

@font-face {
  font-family: "avenir";
  src: url(../../assets/font/alternative-files/AvenirNextLTPro.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "avenir";
  src: url(../../assets/font/alternative-files/AvenirNextLTProDemi.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "avenir";
  src: url(../../assets/font/alternative-files/AvenirNextLTProBold.ttf);
  font-weight: 700;
}
.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
}
.header-nav__logo {
  padding: 2.2rem 0 1.2rem 0;
  min-height: 1.5rem;
  min-width: 10rem;
}
.header-nav__list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.header-nav__list--relative {
  position: relative;
  text-align: center;
  width: 100%;
  height: 4rem;
}
.header-nav__list--absolute:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: #ffffff;
  left: 0;
  bottom: 0;
}
.header-nav__list-item {
  display: flex;
  justify-content: center;
  align-self: center;
}
.header-nav__list-item--shows:active::after, .header-nav__list-item--shows:link::after, .header-nav__list-item--shows:visited::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: #ffffff;
  left: 0;
  bottom: 0;
}
@media only screen and (min-width: 500px) {
  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .header-nav__logo {
    padding: 2.2rem 0 2rem 2.5rem;
  }
  .header-nav__list {
    width: 40%;
    margin-left: 3.5rem;
  }
  .header-nav__list--relative {
    height: 100%;
  }
  .header-nav__list--absolute:hover::after {
    bottom: -2.3rem;
  }
  .header-nav__list-item--shows:active::after, .header-nav__list-item--shows:link::after, .header-nav__list-item--shows:visited::after {
    bottom: -2.3rem;
  }
  .header-nav__list-item {
    display: flex;
    align-self: center;
  }
}
@media only screen and (min-width: 768px) {
  .header-nav__logo {
    padding: 2.8rem 0 2rem 4rem;
  }
  .header-nav__list {
    width: 30%;
    margin-left: 5rem;
  }
  .header-nav__list--relative {
    width: auto;
  }
  .header-nav__list--absolute-bio:hover::after {
    left: 0;
    bottom: -2.55rem;
  }
  .header-nav__list--absolute-show:hover::after {
    left: 0;
    bottom: -2.55rem;
  }
  .header-nav__list-item--shows:active::after, .header-nav__list-item--shows:link::after, .header-nav__list-item--shows:visited::after {
    bottom: -2.65rem;
  }
}
@media only screen and (min-width: 1280px) {
  .header-nav__logo {
    padding: 3.4rem 0 3rem 12rem;
  }
  .header-nav__list {
    width: 20%;
    margin-left: 7rem;
  }
  .header-nav__list-item {
    font-size: 1.7rem;
  }
  .header-nav__list--absolute-bio:hover::after {
    bottom: -155%;
  }
  .header-nav__list--absolute-show:hover::after {
    bottom: -155%;
  }
  .header-nav__list-item--shows:active::after, .header-nav__list-item--shows:link::after, .header-nav__list-item--shows:visited::after {
    bottom: -185%;
  }
  .header-nav__list--absolute--adjust:hover::after, .header-nav__list--absolute-show:hover::after {
    bottom: -3.3rem;
  }
}

.hero {
  display: flex;
  align-items: center;
}
.hero--bio {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  height: 40vh;
  padding: 0 2rem;
}
.hero--shows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem 2rem;
  color: #ffffff;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../../assets/images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
}
.hero__header {
  color: #ffffff;
  font-weight: 600;
  margin: 0;
}
.hero__header-secondary {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
}
.hero__header--width {
  width: 70%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.hero__soundcloud {
  min-width: 96%;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}
@media only screen and (min-width: 500px) {
  .hero {
    height: 54vh;
  }
  .hero--shows {
    height: auto;
  }
  .hero__header {
    font-size: 3.5rem;
  }
  .hero__header--width {
    padding-bottom: 3rem;
  }
  .hero__soundcloud {
    min-width: 80%;
    max-width: 90%;
    margin: 0;
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    height: 60vh;
  }
  .hero--shows {
    height: auto;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .hero__header {
    font-size: 5.5rem;
    margin-left: 4rem;
  }
  .hero__header-secondary {
    margin-left: 2rem;
    font-size: 3.2rem;
    font-weight: 400;
  }
  .hero__header--width {
    line-height: 6rem;
    margin-left: 2rem;
    font-size: 7rem;
    width: 85%;
    padding-top: 3.3rem;
    line-height: 7.8rem;
  }
  .hero__soundcloud {
    margin-left: 2rem;
    margin-top: 4rem;
    min-width: 65%;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__header {
    font-size: 5.5rem;
    margin-left: 12rem;
  }
  .hero__header-secondary {
    margin-left: 0;
    padding-left: 0;
  }
  .hero__header--width {
    margin-left: 0;
    padding-left: 0;
    font-size: 6.2rem;
  }
  .hero--shows {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 12rem;
    padding-right: 12rem;
  }
  .hero__soundcloud {
    min-width: 40%;
  }
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #323232;
  padding: 1.5rem;
  color: #ffffff;
}
.footer__header {
  font-weight: 600;
  padding: 2rem 0 1.6rem 0;
}
.footer__icon-list {
  padding: 0 0 1.5rem 0;
}
.footer__icon {
  margin-right: 2.6rem;
}
.footer__logo--tablet {
  position: absolute;
  left: -100%;
  visibility: hidden;
  padding: 2.2rem 0 1.2rem 0;
  min-height: 1.5rem;
  min-width: 10rem;
}
.footer__contact-list {
  display: flex;
  flex-direction: column;
}
.footer__contact-card {
  padding: 1.7rem 0;
}
.footer__contact-name {
  font-weight: 600;
  padding: 0 0 1.9rem 0;
}
.footer__contact-area {
  padding: 0 0 1.9rem 0;
}
.footer__copy-logo {
  margin-top: 3rem;
}
.footer__logo--mobile {
  padding: 2.2rem 0 1.2rem 0;
  min-height: 1.5rem;
  min-width: 10rem;
}
.footer__copyright {
  font-size: 1.1rem;
}
@media only screen and (min-width: 500px) {
  .footer__container {
    width: 90%;
  }
}
@media only screen and (min-width: 768px) {
  .footer__header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer__secondary-container {
    display: flex;
  }
  .footer__icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0 1.6rem 3.5rem;
  }
  .footer__icon {
    width: auto;
    height: 2.5rem;
    margin-right: 3.5rem;
  }
  .footer__logo--tablet {
    position: initial;
    display: flex;
    visibility: visible;
  }
  .footer__contact-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__logo--mobile {
    position: absolute;
    visibility: hidden;
    left: -100%;
  }
  .footer__copyright {
    font-size: 1.3rem;
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__container {
    width: 85%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .footer__contact-list {
    justify-content: flex-start;
  }
  .footer__contact-card {
    margin-right: 8rem;
  }
  .footer__logo--tablet {
    margin-right: 1.8rem;
  }
  .footer__copyright {
    font-size: 1.4rem;
    padding-bottom: 2.8rem;
  }
}

.shows {
  min-height: 60vh;
  padding-bottom: 2rem;
}
.shows__header {
  padding: 4rem 0 1.9rem 0;
  color: #000000;
  font-size: 5rem;
  font-weight: 600;
}
.shows__list {
  display: flex;
  flex-direction: column;
}
.shows__list-details {
  position: absolute;
  visibility: hidden;
}
.shows__list-card {
  padding: 1.8rem 0;
  border-bottom: solid 1px #e1e1e1;
}
.shows__dates, .shows__venue, .shows__location {
  color: #afafaf;
  padding-bottom: 0.8rem;
  font-weight: 600;
}
.shows__dates-name {
  font-weight: 600;
}
.shows__dates-name, .shows__venue-name, .shows__location-name {
  font-size: 1.8rem;
}
.shows__dates-container, .shows__venue-container, .shows__location-container {
  margin-bottom: 2.2rem;
}
.shows__btn {
  border: none;
  background-color: #323232;
  color: #ffffff;
  width: 100%;
  padding: 1.5rem 0;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}
@media only screen and (min-width: 500px) {
  .shows__btn {
    max-width: 18rem;
  }
}
@media only screen and (min-width: 768px) {
  .shows {
    padding: 0 2rem 5rem 2rem;
  }
  .shows__header {
    padding: 6.4rem 0;
  }
  .shows__list-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.9rem 0;
  }
  .shows__list-details--tablet {
    position: initial;
    visibility: visible;
    display: flex;
    color: #e1e1e1;
  }
  .shows__tablet--hidden {
    position: absolute;
    visibility: hidden;
  }
  .shows__dates-container, .shows__venue-container, .shows__location-container {
    width: 25%;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  .shows__dates, .shows__venue, .shows__location {
    width: 25%;
  }
  .shows__dates-name, .shows__venue-name, .shows__location-name {
    font-size: 1.6rem;
  }
  .shows__btn {
    max-width: 17rem;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1280px) {
  .shows {
    display: flex;
    width: auto;
    padding: 6.4rem 10rem 6rem 10rem;
  }
  .shows__header {
    padding: 0;
    margin-right: 10rem;
  }
  .shows__list {
    width: 100%;
  }
  .shows__list-details--tablet {
    padding-top: 1rem;
  }
}